name: 'Terraform CI'

on:
  pull_request:

permissions:
  id-token: write
  contents: read

concurrency:
  group: aws-control
  cancel-in-progress: false

jobs:
  terraform:
    name: 'Terraform Test'
    runs-on: ["self-hosted", "Linux", "noble"]
    timeout-minutes: 120
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      ROLE_ARN: "arn:aws:iam::303467602807:role/state-manager-tester"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: "terraform-ci"
          aws-region: "us-west-2"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Setup Python Environment
        run: make bootstrap

      - name: Code Style Check
        run: make lint

      - name: Terraform Tests
        run: make test
